            /*  page-1 */
     /*   @media (max-width: 885px) {
         .logo{
             width: 100px;
             margin-left: 25px;
         }
         .header{
             height: 180px;
         }
         .nav-li{
             flex-direction: column;
             margin-top: 70px;
             align-items: center;
             padding-top: 15px;
             
         }
         

         .burger{
             display: block;
         }
         
        }
        */
    @media (max-width: 885px) {
        .navbar-links{
          display: none;
        }
        .burger{
            display: block;
        }
        

      .navbar{
          flex-direction: column;
      }
      .nav-ul{
          flex-direction: column;
      }
      .li{
          text-align: center;
      }
      .navbar-links.active{
          display: block;
      }
    }


        @media (max-width: 785px) {
            .section{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: auto;
                margin: 15px 0;
        
            }
            .footer{
                height: auto;
                display: flex;
                flex-wrap: wrap;
            }
        
        }
     /*   @media (max-width: 450px) {
        .section-slider{
            width: auto;
            height: auto; 
        }
    }

        
                                /*page-2*/
       @media (max-width: 1150px) {    
          .section-4 {
              display: flex;
            /*  flex-direction: column; */
            flex-wrap: wrap;
              height: auto;
              align-items: center;
             padding: 10px;
        }
        
        }


     @media (max-width: 885px) {
        .tskaltubo-information{
            padding: 8px;
        }
        .pg-2-section-2-photo{
            padding: 8px;
        }
    
    }
    @media (max-width: 440px) {
     .welcome-h{
         font-size: 20px;
     }
    }


                      /*page-3*/
    @media (max-width: 1150px) {
        .hotel-container{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            height: auto;
        }
    }
    @media (max-width: 600px) {
        .hotel-h{
            font-size: 20px;
        }

    }

    @media (max-width: 480px) {
        .read-more{
           width: 320px;
           align-items: center;
        }
        .read-more-p{
            font-size: 11px;
        }

    }

    @media (max-width: 600px) {
        .hotel-h{
            font-size: 15px;
        }

    }


        /*page-4*/
        @media (max-width: 900px) {
            .activities-inf {
                display: none;
            }
            .activities-sect-2 {
            display: none;
        }
        .act-scet{
            display: flex;
        }
    }


    /*page-5*/
    @media (max-width: 1250px) {
        
        .contact-animation{
            display: none;
        }
        .online-animation{
            display: block;
        }
    
    }
    
    @media (max-width: 1150px) {  
        .contact-inf{
            
            height: auto;
            margin-bottom: 10px;
            padding-left: 8px;
        }
        .container{
            margin:  8px;
        }
    
    }

    
    @media (max-width: 520px) {
      .online-animation{
          display: none;
      }
      .online-animation-2{
          display: block;
      }

    }