/*header*/

.header-mainbox {
  width: 100%;
  height: 580px;
}
.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
  position: fixed;
}

.logo {
  height: 70px;
  opacity: 100;
}
.nav-li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 600px;
  height: 50px;
  color: rgba(94, 206, 65, 0.61);
}
a {
  color: rgba(25, 71, 14, 0.774);
}
.nav-li :hover {
  color: rgb(74, 199, 16);
  font-size: 15px;
}
.burger{
  color: #4caf50;
  font-size: 35px;
  display: none;
  margin-top: 23px;
}

/* images-animation*/
.background-photo {
  background-image: url(../images/tskaltubo.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  z-index: 2;
}

/*section*/
.section {
  width: 100%;
  height: 205px;

  display: flex;
  justify-content: space-evenly;
 
}
.section-box {
  width: 250px;
  height: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  display: flex;
  align-items: center;
  flex-direction: column;
}
.icon {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-users {
  font-size: 50px;
  color: rgba(76, 43, 226, 0.342);
}
.fa-users :hover {
  color: blueviolet;
  font-size: 60px;
}

.h2-section {
  font-size: 25px;
  margin-top: 10px;
}
.p-section {
  font-size: 15px;
  margin-top: 15px;
  padding-left: 5px;
  align-items: center;
}
.fa-globe-europe {
  color: chartreuse;
  font-size: 50px;
}

/*footer*/
.footer {
  width: 100%;
  height: 265px;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.footer-information {
  color: white;
  width: 159px;
  height: 282px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-p {
  font-size: 15px;
  padding-top: 30px;
  color: rgb(94, 221, 168);
}
.footer-h {
  font-size: 20px;
  color: rgb(107, 180, 92);
}
.footer-information-3 {
  color: white;
  width: 238px;
  height: 282px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-information-4 {
  display: block;
}

/*input[type=submit] {
    width: 84px ;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }*/
.last-p {
  color: black;
  background: rgb(31, 159, 21);
  background: linear-gradient(
    90deg,
    rgba(31, 159, 21, 0.8914916308320203) 17%,
    rgba(0, 255, 175, 1) 48%,
    rgba(67, 203, 42, 1) 82%
  );
  display: flex;
  justify-content: space-evenly;
}
.footer-logo {
  width: 159px;
  height: 282px;
  display: flex;
  flex-direction: column;
}
.f-logo {
  width: 90%;
}
.footer-icons {
  display: flex;
  justify-content: space-around;
}
.fa-facebook {
  color: blue;
  font-size: 30px;
}
.fa-twitter {
  color: rgb(29, 142, 235);
  font-size: 30px;
}
.fa-youtube {
  color: rgb(235, 12, 12);
  font-size: 30px;
}

/*           page-2               */

.header-mainbox-pg-2 {
  width: 100%;
  height: 80px;
}
.welcome {
  display: flex;
  max-width: 1170px;
  width: 100%;
  height: 100px;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.welcome-h {
  font-size: 30px;
  color: rgb(83, 223, 176);
  margin-top: 10px;
}
.welcome-p {
  color: rgb(49, 221, 78);
  padding-top: 10px;
}

/*section-2 */
.pg-2-section-2-photo {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  
}
.pg-2-photo {
  width: 100%;
  border-radius: 35px;
}
/*section-3 */
.tskaltubo-information {
  max-width: 1170px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.tskaltubo-p {
  color: black;
  width: 100%;
  padding-top: 15px;
}
.tsk-inf-div {
  margin-top: 20px;
}
.tskaltubo-h {
  font-size: 25px;
}

/*   section-4*/
.section-4 {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section-4-box {
  width: 370px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.box-photo {
  width: 100%;
  transition: linear;
  border-radius: 15px;  
}
.box-photo :hover {
  height: 300px;
}

.box-p {
  color: rgb(9, 158, 41);
}

/*page - 3 */

.hotel-section {
  max-width: 1170px;
  width: 100%;
  height: 1500px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  padding: 8px;
}
.hotel-h {
  font-size: 30px;
  color: rgb(32, 32, 32);
  margin-bottom: 10px;
}
.hotel {
  width: 100%;
  border-radius: 25px;
}
.hotel-p {
  font-size: 15px;
  color: rgb(4, 97, 20);
  margin: 7px 5px;
}
.read-more {
  background-color: rgb(82, 108, 182);
  width: 450px;
  height: 40px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0px;
  transition: ease-in;
  margin-bottom: 35px;
}
.read-more :hover {
  width: 50%;
  color: rgb(13, 192, 147);
}
.read-more-p {
  color: rgb(39, 230, 39);
  transition: ease-in;
}
.read-more-p :hover {
  font-size: 25px;
  color: rgb(120, 196, 21);
  transition: ease-in;
}

.hotel-container {
 max-width: 1170px;
 width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 10px;
}
.hotel-photo {
  width: 250px;
  border-radius: 25px;
}
.hotel-photo :hover {
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
}

/*activities*/
/*section-1*/
.activities-inf {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  height: 550px;
  display: flex;

}
.activities-p {
  width: 50%;
  padding-top: 155px;
  padding-left: 25px;
  align-items: center;
  background-color: #cccccc2b;
}

.activites-image {
 /* background-image: url(../images/tskalt.jpg);  */
  width: 50%;
  /*height: 100%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*section-2*/
.activities-sect-2 {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%;
  height: 550px;
  display: flex;
  margin-top: 15px;
}
.activites-image-2 {
  background-image: url(../images/spring-6-interier.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.activities-read-more {
  width: 220px;
  height: 50px;
  border-radius: 25px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
  font-size: 15px;
  margin-left: 45px;
}

 








/*contact-page*/

/*  section-1 */

.contact-inf {
  max-width: 1170px;
  width: 100%;
  height: 80px;
  align-items: center;
  margin: 0 auto;
}
.contact-h {
  color: rgb(13, 143, 63);
  font-size: 25px;
  margin-top: 8px;
  margin-bottom: 3px;
}
.contact-p {
  color: rgb(50, 192, 81);
  font-size: 15px;
}

/*   section-2 */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  padding: 20px;
  background-image: url(../images/tsqaltubo-tskaltubo-1.jpg);
  max-width: 1170px;
  width: 100%;
  height: 445px;
  margin: 0 auto;
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 15px;
  border-radius: 15px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/*section-5*/
.map {
  max-width: 1170px;
  margin: 0 auto;
}

/*section-5*/
.about-me {
  width: 1170px;
  height: 470px;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;
}
.about-me-inf {
  max-width: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.me {
  width: 100%;
  border-radius: 50px;
  border-bottom: blue;
}

/* scetion-5*/
.contact-animation {
  position: relative;
  max-width: 1170px;
  width: 100%;
  height: 600px;
  margin: 15px auto;
}
.background-an {
  position: absolute;
  width: 100%;
}
/*ვიცი რომ ვარღვევ სურათის ნორმალურ ფორმას :D */
.car-an {
  /*  background-image: url(../images/car-an.png);*/
  position: absolute;
  height: 217px;
  bottom: 15px;
  z-index: 2;
  transition-timing-function: ease;
  animation: car-animation 10s infinite;
}
@keyframes car-animation {
  0% {
    left: 50px;
  }
  100% {
    left: 650px;
  }
}

.p-an {
  position: absolute;
  font-size: 35px;
  transition-timing-function: ease;
  animation: p-animation 7s infinite;
}
@keyframes p-animation {
  0% {
    color: red;
    left: 0px;
    top: 15px;
  }
  60% {
    color: rgb(180, 35, 199);
    left: 40%;
    top: 0px;
  }
  80% {
    color: rgb(92, 17, 179);
    left: 60%;
    top: 15px;
  }
  100% {
    color: rgb(39, 107, 196);
    left: 650px;
    top: 0px;
  }
}
.girl-an {
  position: absolute;
  width: 235px;
  height: 245px;
  bottom: 140px;
  transition-timing-function: ease;
  animation: car-animation 7s infinite;
}

@keyframes girl-animation {
  0% {
    left: 50px;
  }
  100% {
    left: 650px;
  }
}


.online-animation{
  margin:0 auto;
  width: 500px;
  height: 300px;
  display: none;
}
.online-animation-2{
  margin:0 auto;
  width: 300px;
  height: 300px;
  display: none;
}
